:root {
    --background-color: #35363E;
    --text-color: #FFFFFF;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

#input {
    width: 30em;
    height: 15em;
    resize: none;
    overflow: auto;
    margin: 10px 10px 10px 10px;
    background-color: var(--background-color);
    color: var(--text-color);
}

#inputLbl {
    font-size: 14px;
    margin: 0px 0px 0px 10px;
    float: left;
}

#openBtn {
    height: auto;
    width: auto;
    margin: 0px 10px 0px 0px;
    float: right;
}